name: Deploy NBA Oracle to Azure

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Azure CLI
      run: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

    - name: Upload files to Azure Blob
      run: |
        az storage blob upload-batch \
          --connection-string "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}" \
          --destination '$web' \
          --source .
